body {
  background-image: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
}

header {
  font-size: 50px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemonContainer {
  border: solid black 1px;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  padding: 10px;
}