h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  font-style: italic;
}

ul {
  background-color: orange;
  line-height: 50px;
}

.lista {
  background-color: orange;
}

p {
  font-weight: 600;
  font-size: 3em;
  text-decoration: underline;
}

body {
  font-size: 16px;
  text-align: center;
}

#amarelo {
  background-color: yellow;
}

#vermelho {
  background-color: red;
}

#marrom {
  background-color: brown;
}