body {
  font-size: 16px;
  line-height: 10mm;
} 

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-decoration: underline;
}

ul {
  background-color: rgb(229, 248, 239);
}

.lista {
  color: rgb(15, 15, 182);
}

p {
  font-weight: 600;
  font-size: 3em;
  font-style: oblique;
}

#amarelo {
  background-color: yellow;
}

#vermelho {
  background-color: red;
}

#marrom {
  background-color: brown;
}