* {
  margin: 7px;  
}

body {
  background-color: rgb(209, 208, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center; 
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-color: rgb(230, 230, 230);
  width: 300px;
  margin-top: 100px;
}

form {
  display: flex;
}